<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="hadoop-auth-examples">
        <wb-resource deploy-path="/" source-path="/target/m2e-wtp/web-resources"/>
        <wb-resource deploy-path="/" source-path="/src/main/webapp" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/java"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/resources"/>
        <dependent-module archiveName="hadoop-auth-2.7.0.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/hadoop-auth/hadoop-auth">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <property name="context-root" value="hadoop-auth-examples"/>
        <property name="java-output-path" value="/hadoop-auth-examples/target/classes"/>
    </wb-module>
</project-modules>
